:root {
  --nn-RK-aw: rgba(255, 255, 204, 1);
  --v-6b-8ov: rgba(208, 223, 228, 1);
  --e-3sc-KJ: rgba(221, 242, 255, 1);
  --x-2-0t-2py: rgba(22, 92, 157, 1);
  --x-dj-0d-x: rgba(145, 210, 249, 1);
  --x-2: rgba(35, 140, 201, 1);
  --x-1ub-8o: rgba(249, 249, 249, 1);
  --URMRVI: rgba(17, 112, 199, 1);
  --: rgba(58, 90, 155, 1);
}
