:root {
  --PW-sd-kz: rgba(255, 255, 204, 1);
  --v-3x-qwd: rgba(208, 223, 228, 1);
  --pqcuv-y: rgba(221, 242, 255, 1);
  --wk-4w-IA: rgba(22, 92, 157, 1);
  --KU-gnn-j: rgba(145, 210, 249, 1);
  --x-2: rgba(35, 140, 201, 1);
  --duz-a-yp: rgba(249, 249, 249, 1);
  --dm0-dz-t: rgba(17, 112, 199, 1);
  --: rgba(246, 252, 255, 1);
  --t-z5g05: rgba(255, 255, 204, 1);
  --r-2-1ja-s: rgba(208, 223, 228, 1);
  --z-ggp-5i: rgba(221, 242, 255, 1);
  --x-IRN-mi: rgba(22, 92, 157, 1);
  --c-4z-bq-4: rgba(145, 210, 249, 1);
  --x-2: rgba(35, 140, 201, 1);
  --x-5j-oktq: rgba(249, 249, 249, 1);
  --e-4phy6: rgba(17, 112, 199, 1);
  --f-BW-djq: rgba(255, 255, 204, 1);
  --spo-1b-m: rgba(208, 223, 228, 1);
  --x-8-mc-kzg: rgba(221, 242, 255, 1);
  --gg-uzz8: rgba(22, 92, 157, 1);
  --x-02-yh-DC: rgba(145, 210, 249, 1);
  --x-2: rgba(35, 140, 201, 1);
  --yz-AY-4r: rgba(249, 249, 249, 1);
  --TD-5h-FE: rgba(17, 112, 199, 1);
  --: rgba(246, 252, 255, 1);
}
